# Begin authorized_keys.d
cat > /home/core/.ssh/authorized_keys.d/ignas <<EOF
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCyHI1SjxNY6D8Mnp1nS5vWRrOtIQBlgOCWfdNpSXmZXq0ZtxoAS8XNlI8m3NekjscqS3K7K+dZUF3QzWNZs/lWUKtKALv+GC+8taFBnfnAcGFB6zc29VzPfq9o1o+6T5Z8pNUCVtiCDUHAefWRdcXpdz7YXY28vJ2W7/smApmr7PNPQzt1EsL7vsNB9xDCSUXR0kiRr/pjmc8mm4nAaZHEdX6RB1fzWCAPIPgmJZwnzbz/hfia8EdQARVdGvvPb3NbYzgF7UHTXRcY89rVd1vJhr+HnG7MO++k4INgn36kP6hHUE75USpYp4aM8E2FwSB71z5B4ejBhqUezOfpvUlv ignas@c3000
EOF
cat > /home/core/.ssh/authorized_keys.d/vytisb <<EOF
ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAuWdPx8Vtt3prb+7iLWaWKE7IjHzm0HqkAMETKrMhWdz+Jc5E/DV5kSKhZ8z5ymeMqGe+B69g30QRMKFy6L8AKs4xEV28lE8okc20RzTiLVp2Wj9XvlkBBFB1/JhBu5AlDYV49uxlLVnqZjia/Rd/h0Ux9zPe15dWl8qZM8cljSOrosmjnXNQcwWfmYhuPxgIuKQQNa67NFrioZ9lQaDyv4R4DuY7tSjfW/9gp9EetjBNuPmGp9LGhD3MJ4TBqyAX1eaaqOThzQrjtCcugpPmUNHygaWn0KGzFTZU+0ETgbjtSzvAcCiD+PU29UqeUeDpRg5U1h1otOZmLcH1qdd57w==
EOF
cat > /home/core/.ssh/authorized_keys.d/motiejus <<EOF
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCXQF2yXN72CZguRZjfrXVMiCj+RsSDddSyt+4mr2XlHH8YYAapLtoelI+KMtyJzB9EX2ST1sLcZW3GowEtQxqe/4IsxqEjG6so9/K7vPINi3uBtrZFLz1B3KNcQFZrTGvstAQOBMiW0TALdR58vSfJhnI9Vd4NHi0WF+l2TyW62d7wYQfMk4jHPzXzH4terH4suiqhWmMLksOL/C66tWggFFa0qCoynfuyUnVfUZD+NUtjFmqLLHltcB2uD+F76SdAaii/oumnhpE0CZz92SyqirzxJcHL5szWsCDvtNuvQlAHaQzy0bIAhnEIuViywVKeXav2Shfn7T3Jgy4xdisB
EOF
# end authorized_keys.d
