# Mark subset of cpu cores reachable by 30 worker sandboxes as isolated.
# This leaves cpu 0 and 31+ to perform anything else on the host, while
# isolate sandboxes would get their own dedicated cores.
GRUB_CMDLINE_LINUX_DEFAULT="${GRUB_CMDLINE_LINUX_DEFAULT} isolcpus=1-30"
