[Unit]
Description=cmsResourceService in a container
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=/usr/bin/docker run --rm -v /opt/bin:/opt/bin ibuildthecloud/systemd-docker
ExecStart=/opt/bin/systemd-docker run --net=host    -v /home/core/cms.conf:/usr/local/etc/cms.conf     --rm --name %n lmio/cms:lmio2015 sh -c 'ln -sf /usr/share/zoneinfo/Europe/Vilnius /etc/localtime && cmsResourceService -a 1'

Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
TimeoutStartSec=600
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
